# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment variables
.env

# Vite build
dist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

pest_model.h5

backend/firebase-credentials.json